@media screen and (max-width: 481px) {
	
html {
  scroll-behavior: smooth;
}
body {
 background:  url("4.jpg") fixed center ; 
 background-color: #cccccc;
 background-size: 45%;
 min-width: 640px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  font-variant: small-caps;  /*you can change the font og the navigation */
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

p {
	font-family: "Lucida Console", Courier, monospace;
	font-size: 35px;
	color: black;
	font-style: normal;
	font-weight: bold;
	font-variant: small-caps;
	
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
div.row {
  
}

footer {
  font-family: "Times New Roman", Times, serif;
  color: black;
  text-shadow: 0 0 3px #FF0000, 0 0 5px yellow;
  font-weight: bold;
  /*font-variant: small-caps;*/
}
}
