body{
height: 635px;
background-color: blue;
background-image: linear-gradient(lightgreen, blue);
padding: 0;
margin: 0;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
p {
margin: 22;
 width: 22%;
 border: 3px solid lightblue;
 padding: 10px;
 color: white;
text-shadow: 2px 2px 5px red;
}
h1 {
  margin: auto;
  color : white;
  text-shadow: 2px 2px 5px red;
}
body {
  background-image: url("sniper1.jpg");
  position: relative;
  background-size: cover;

}
.again {
  background-color: #4CAF50; /* Green */
  border: none;
  color: purple;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

