body{
height: 635px;
background-color: blue;
background-image: linear-gradient(lightgreen, blue);
padding: 0;
margin: 0;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
p {
margin: 22;
 width: 28%;
 border: 3px solid #73AD21;
 padding: 10px;
 color: black;
text-shadow: 2px 2px 5px red;
}
h1 {
  margin: auto;
}
.slidecontainer {
  width: 170px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  background: #d3d3d3;
}
.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: red;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
