body {
  padding: 0;
  margin: 0;

}
body{
height: 619px;
background-color: white;
background-image: linear-gradient(lightgreen, blue);
}
p {
margin: auto;
 width: 60%;
 border: 3px solid #73AD21;
 padding: 10px;
 color: black;
text-shadow: 2px 2px 5px red;
}
h1 {
  margin: auto;
}
